## Project Name: Olympics Analysis

- Sports goes into entertainment category as far as viewers are concerned.
- Olympic athletes are considered as benchmarks in regards with their Strength, Agility and Intelligence.

### Project goal:
- To explore a dataset on the modern Summer Olympic Games - Athens data from 1896 to Rio 2016.
- In this project, I investigate on the results and understand trends of Olympics results. 
- Answer some common questions about the Summer Olympics.

### Dataset:
- Dataset have records at an individual Athlete competing in an individual Olympic events. 
- Columns as Name, Age, Medal_Won, Game, Year, and so on.

### Using summer olympics dataset we try to find out following questions answer:

### Phase 1: Data Collection

 ##### We are using two tables which are available at MySQL database:
 - olympics_history table where each row corresponds to an individual athlete competing in an individual Olympic event.
 - olympics_history_noc_regions contains NOC(National Olympic Committee  a 3-letter code) which helps us to add country information and its correspondion region from its NOC code.

In [108]:
# importing Basic libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Phase 2: Data Understanding

In [109]:
import mysql.connector

mydb=mysql.connector.connect(
host="localhost",
user="root",
password="Sangeeta@4820",
use_pure=True)

In [97]:
query = '''SELECT * FROM Olympics.olympics_history'''

In [98]:
olympics_history_df = pd.read_sql_query(query, mydb)

#### Fix dataframe column names:

In [90]:
olympics_history_df.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [115]:
query = '''
            SELECT 
                Name AS name,
                Sex AS sex,
                Height AS height
            FROM 
                Olympics.olympics_history 
            WHERE 
                Year = (SELECT 
                            min(Year)
                        FROM Olympics.olympics_history
                        )
        '''

In [116]:
data = pd.read_sql_query(query, mydb)

In [117]:
data

              nameakdjfkajdfakjdfa sex height
0             Arthur Charles Blake   M     NA
1             Arthur Charles Blake   M     NA
2        Conrad Helmut Fritz Bcker   M     NA
3        Conrad Helmut Fritz Bcker   M     NA
4        Conrad Helmut Fritz Bcker   M     NA
..                             ...  ..    ...
212                 Thomas Xenakis   M     NA
213  Jules Alexis "Louis"" Zutter"   M     NA
214  Jules Alexis "Louis"" Zutter"   M     NA
215  Jules Alexis "Louis"" Zutter"   M     NA
216  Jules Alexis "Louis"" Zutter"   M     NA

[217 rows x 3 columns]

In [94]:
olympics_history_df = olympics_history_df.rename(columns={'ID':'id', 
                         'Name': 'name', 
                         'Sex':'sex',
                         'Age':'age',
                         'Height':'height',
                         'Weight':'weight',
                         'Team':'team',
                         'NOC':'noc',
                         'Games':'games',
                         'Year':'year',
                         'Season':'season',
                         'City':'city',
                         'Sport':'sport',
                         'Event':'event',
                         'Medal':'medal'})

In [99]:
olympics_history_df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NA
1,2,A Lamusi,M,23,170,60,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NA
2,3,Gunnar Nielsen Aaby,M,24,NA,NA,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NA
3,4,Edgar Lindenau Aabye,M,34,NA,NA,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NA

In [104]:
df.Year.min()

1896

In [105]:
df[df.Year.isin([df.Year.max()])]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
80,22,Andreea Aanei,F,22,170,125,Romania,ROU,2016 Summer,2016,Summer,Rio de Janeiro,Weightlifting,Weightlifting Women's Super-Heavyweight,NA
139,51,Nstor Abad Sanjun,M,23,167,64,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Individual All-Around,NA
140,51,Nstor Abad Sanjun,M,23,167,64,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Floor Exercise,NA
141,51,Nstor Abad Sanjun,M,23,167,64,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Parallel Bars,NA
142,51,Nstor Abad Sanjun,M,23,167,64,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Horizontal Bar,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260879,135528,Marc Zwiebler,M,32,181,75,Germany,GER,2016 Summer,2016,Summer,Rio de Janeiro,Badminton,Badminton Men's Singles,NA
260908,135547,Viktoriya Viktorovna Zyabkina,F,23,174,62,Kazakhstan,KAZ,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's 100 metres,NA
260909,135547,Viktoriya Viktorovna Zyabkina,F,23,174,62,Kazakhstan,KAZ,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's 200 metres,NA
260910,135547,Viktoriya Viktorovna Zyabkina,F,23,174,62,Kazakhstan,KAZ,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's 4 x 100 metres Relay,NA
260965,135568,Olga Igorevna Zyuzkova,F,33,171,69,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NA

In [80]:
df.iloc[df['Year'].argmin()].reset_index()

     index                         21994
0       ID                         12068
1     Name          Arthur Charles Blake
2      Sex                             M
3      Age                            24
4   Height                            NA
5   Weight                            NA
6     Team                 United States
7      NOC                           USA
8    Games                   1896 Summer
9     Year                          1896
10  Season                        Summer
11    City                        Athina
12   Sport                     Athletics
13   Event  Athletics Men's 1,500 metres
14   Medal                        Silver

In [81]:
df.iloc[df['Year'].argmax()].reset_index()

     index                                       80
0       ID                                       22
1     Name                            Andreea Aanei
2      Sex                                        F
3      Age                                       22
4   Height                                      170
5   Weight                                      125
6     Team                                  Romania
7      NOC                                      ROU
8    Games                              2016 Summer
9     Year                                     2016
10  Season                                   Summer
11    City                           Rio de Janeiro
12   Sport                            Weightlifting
13   Event  Weightlifting Women's Super-Heavyweight
14   Medal                                       NA

In [76]:
nan_data= df.replace('NA', np.nan)

In [77]:
nan_data.isnull().sum()

ID             0
Name           0
Sex            0
Age            0
Height     51402
Weight     54074
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     222153
dtype: int64

In [63]:
query2 ='''SELECT * FROM Olympics.olympics_history_noc_regions'''

In [64]:
df = pd.read_sql_query(query2, mydb)

In [65]:
df.head()

   NOC       region                 notes
0  AFG  Afghanistan
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania
3  ALG      Algeria
4  AND      Andorra